.container_timer{
    height: 300px;
    width: 500px;
    border: 3px solid yellowgreen;
    margin: auto;
    background-color: darkgray;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.countdown_timer{
    width: 450px;
    margin: 10px;
    padding: 20px;
    font-size: larger;
    font-weight: bolder;
    background-color: aqua;
    border: 0.5px dashed black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}